apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: connect-proxy-config
  namespace: envoy-poc
spec:
  provider:
    type: Kubernetes
    kubernetes:
      envoyDeployment:
        replicas: 1
        container:
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
      envoyService:
        type: ClusterIP
        # static name referenced in the cnpg HTTPS_PROXY env var
        name: connect-proxy
